<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1607344635159-59930e3330b1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80);">
  <div class="container">
    <h1>Wayne brings <strong><\strong></strong> drinks to <strong>devs</strong> everywhere 🍸</h1>
    <p>Please drink responsibily and vist <a href="https://account.drinkaware.co.uk/understand-your-drinking/unit-calculator">DrinkAware</a> for more information on Unit & Calorie Calculation.</p>
    <%= link_to "Get Started!", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 mb-3 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div >
          <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>

